In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("aakari.csv")

In [2]:
df.head()

,S.No,District,Year,Season,Crop,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),Mn(ppm),Irrigation(MBGL),Yield (Bales/Hectare)
0,1,Adilabad,2014 - 2015,Kharif,cotton(lint),156.04,29.1,40.5,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,NaN,1.88
1,2,Adilabad,2015 - 2016,Kharif,cotton(lint),165.74,26.1,37.6,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,NaN,2.49
2,3,Adilabad,2016 - 2017,Kharif,cotton(lint),240.52,27.3,38.3,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.70,2.72
3,4,Adilabad,2017 - 2018,Kharif,cotton(lint),180.18,27.6,37.4,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,13.95,3.15
4,5,Adilabad,2018 - 2019,Kharif,cotton(lint),256.06,NaN,NaN,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.83,2.55

In [3]:
df.isnull().sum()

S.No                         0
District                     0
Year                         0
Season                       0
Crop                         0
Rainfall(mm)                 0
Minimum Temparature(C)     264
Maximum Temperature (C)    264
Ph                           0
N(Kg/Hectar)                 0
P(Kg/Hectar)                 0
K(Kg/Hectar)                 0
Zn(ppm)                      0
Fe(ppm)                      0
Cu(ppm)                      0
Mn(ppm)                      0
Irrigation(MBGL)           142
Yield (Bales/Hectare)       16
dtype: int64

In [4]:
df['Yield (Bales/Hectare)']=df.groupby(['District'])[['Yield (Bales/Hectare)']].transform(lambda x: x.fillna(x.mean()))

In [5]:
df.isnull().sum()

S.No                         0
District                     0
Year                         0
Season                       0
Crop                         0
Rainfall(mm)                 0
Minimum Temparature(C)     264
Maximum Temperature (C)    264
Ph                           0
N(Kg/Hectar)                 0
P(Kg/Hectar)                 0
K(Kg/Hectar)                 0
Zn(ppm)                      0
Fe(ppm)                      0
Cu(ppm)                      0
Mn(ppm)                      0
Irrigation(MBGL)           142
Yield (Bales/Hectare)        0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   S.No                     1136 non-null   int64
 1   District                 1136 non-null   object
 2   Year                     1136 non-null   object
 3   Season                   1136 non-null   object
 4   Crop                     1136 non-null   object
 5   Rainfall(mm)             1136 non-null   float64
 6   Minimum Temparature(C)   872 non-null    float64
 7   Maximum Temperature (C)  872 non-null    float64
 8   Ph                       1136 non-null   float64
 9   N(Kg/Hectar)             1136 non-null   float64
 10  P(Kg/Hectar)             1136 non-null   float64
 11  K(Kg/Hectar)             1136 non-null   float64
 12  Zn(ppm)                  1136 non-null   float64
 13  Fe(ppm)                  1136 non-null   float64
 14  Cu(ppm)                  1136 non-null   float64
 15  Mn(ppm)                  1136 non-null   float64
 16  Irrigation(MBGL)         994 non-null    float64
 17  Yield (Bales/Hectare)    1136 non-null   float64
dtypes: float64(13), int64(1), object(4)
memory usage: 159.9+ KB

In [7]:
df['Irrigation(MBGL)']=df.groupby(['District'])[['Irrigation(MBGL)']].transform(lambda x: x.fillna(x.mean()))

In [8]:
df.isnull().sum()

S.No                         0
District                     0
Year                         0
Season                       0
Crop                         0
Rainfall(mm)                 0
Minimum Temparature(C)     264
Maximum Temperature (C)    264
Ph                           0
N(Kg/Hectar)                 0
P(Kg/Hectar)                 0
K(Kg/Hectar)                 0
Zn(ppm)                      0
Fe(ppm)                      0
Cu(ppm)                      0
Mn(ppm)                      0
Irrigation(MBGL)             0
Yield (Bales/Hectare)        0
dtype: int64

In [9]:
df['Maximum Temperature (C)']=df.groupby(['District', 'Season'])[['Maximum Temperature (C)']].transform(lambda x: x.fillna(x.mean()))
df['Minimum Temparature(C)']=df.groupby(['District', 'Season'])[['Minimum Temparature(C)']].transform(lambda x: x.fillna(x.mean()))

In [10]:
df.isnull().sum()

S.No                       0
District                   0
Year                       0
Season                     0
Crop                       0
Rainfall(mm)               0
Minimum Temparature(C)     0
Maximum Temperature (C)    0
Ph                         0
N(Kg/Hectar)               0
P(Kg/Hectar)               0
K(Kg/Hectar)               0
Zn(ppm)                    0
Fe(ppm)                    0
Cu(ppm)                    0
Mn(ppm)                    0
Irrigation(MBGL)           0
Yield (Bales/Hectare)      0
dtype: int64

In [11]:
df.shape

(1136, 18)

In [11]:
o="C:\\Users\\ADMIN\\Downloads\\PS2 Data\\chebal.xlsx"
df.to_excel(o,index=False)

In [12]:
new_df=pd.read_excel("C:\\Users\\ADMIN\\Downloads\\PS2 Data\\chebal.xlsx")
new_df.head()

,S.No,District,Year,Season,Crop,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),Mn(ppm),Irrigation(MBGL),Yield (Bales/Hectare)
0,1,Adilabad,2014 - 2015,Kharif,cotton(lint),156.04,29.10,40.50,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,9.94375,1.88
1,2,Adilabad,2015 - 2016,Kharif,cotton(lint),165.74,26.10,37.60,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,9.94375,2.49
2,3,Adilabad,2016 - 2017,Kharif,cotton(lint),240.52,27.30,38.30,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.70000,2.72
3,4,Adilabad,2017 - 2018,Kharif,cotton(lint),180.18,27.60,37.40,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,13.95000,3.15
4,5,Adilabad,2018 - 2019,Kharif,cotton(lint),256.06,25.38,39.94,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.83000,2.55

In [13]:
 new_df.columns.values.tolist()

['S.No',
 'District',
 'Year',
 'Season',
 'Crop',
 'Rainfall(mm)',
 'Minimum Temparature(C)',
 'Maximum Temperature (C)',
 'Ph',
 'N(Kg/Hectar)',
 'P(Kg/Hectar)',
 'K(Kg/Hectar)',
 'Zn(ppm)',
 'Fe(ppm)',
 'Cu(ppm)',
 'Mn(ppm)',
 'Irrigation(MBGL)',
 'Yield (Bales/Hectare)']

In [29]:
new_df['Crop'].unique()

array(['cotton(lint)', 'Maize', 'Moong(Green Gram)', 'Rice', 'Groundnut'],
      dtype=object)

In [14]:
new_df=new_df.drop(['Year','S.No'],axis='columns')
new_df.head()

,District,Season,Crop,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),Mn(ppm),Irrigation(MBGL),Yield (Bales/Hectare)
0,Adilabad,Kharif,cotton(lint),156.04,29.10,40.50,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,9.94375,1.88
1,Adilabad,Kharif,cotton(lint),165.74,26.10,37.60,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,9.94375,2.49
2,Adilabad,Kharif,cotton(lint),240.52,27.30,38.30,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.70000,2.72
3,Adilabad,Kharif,cotton(lint),180.18,27.60,37.40,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,13.95000,3.15
4,Adilabad,Kharif,cotton(lint),256.06,25.38,39.94,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.83000,2.55

In [15]:
new_df=pd.get_dummies(new_df)
new_df
o="C:\\Users\\ADMIN\\Downloads\\PS2 Data\\last.xlsx"
new_df.to_excel(o,index=False)

In [16]:
new_df

,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),...,District_Warangal,District_Warangal urban,District_Yadadri,Season_Kharif,Season_rabi,Crop_Groundnut,Crop_Maize,Crop_Moong(Green Gram),Crop_Rice,Crop_cotton(lint)
0,156.040000,29.100000,40.50,7.55,180.00,17.60,284.00,1.350,14.00,0.58,...,0,0,0,1,0,0,0,0,0,1
1,165.740000,26.100000,37.60,7.55,180.00,17.60,284.00,1.350,14.00,0.58,...,0,0,0,1,0,0,0,0,0,1
2,240.520000,27.300000,38.30,7.55,180.00,17.60,284.00,1.350,14.00,0.58,...,0,0,0,1,0,0,0,0,0,1
3,180.180000,27.600000,37.40,7.55,180.00,17.60,284.00,1.350,14.00,0.58,...,0,0,0,1,0,0,0,0,0,1
4,256.060000,25.380000,39.94,7.55,180.00,17.60,284.00,1.350,14.00,0.58,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,15.042900,9.600000,44.90,5.50,162.69,18.08,215.84,1.833,4.67,2.76,...,0,1,0,0,1,0,0,0,1,0
1132,5.171429,28.300000,41.80,6.54,170.70,34.10,283.10,3.200,8.30,1.60,...,0,0,1,0,1,0,0,0,1,0
1133,11.285714,20.000000,35.10,6.54,170.70,34.10,283.10,3.200,8.30,1.60,...,0,0,1,0,1,0,0,0,1,0
1134,6.571429,20.166667,40.70,6.54,170.70,34.10,283.10,3.200,8.30,1.60,...,0,0,1,0,1,0,0,0,1,0
1135,11.271429,12.200000,45.20,6.54,170.70,34.10,283.10,3.200,8.30,1.60,...,0,0,1,0,1,0,0,0,1,0

In [18]:
from sklearn.model_selection import train_test_split
x=new_df.drop(['Yield (Bales/Hectare)'],axis='columns').values
y=new_df['Yield (Bales/Hectare)'].values
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1)
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(908, 47)
(228, 47)
(908,)
(228,)

In [19]:
xtrain.shape,ytrain.shape

((908, 47), (908,))

In [20]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(xtrain, ytrain)

RandomForestRegressor()

In [21]:
pred=model.predict(xtest)

In [22]:
from sklearn.metrics import r2_score
r2_score(ytest,pred)*100

82.67887008579106

In [23]:
from sklearn.ensemble import BaggingRegressor
m=BaggingRegressor()
m.fit(xtrain, ytrain)

BaggingRegressor()

In [24]:
p=m.predict(xtest)

In [25]:
from sklearn.metrics import r2_score
r2_score(ytest,p)*100

80.58816771240662